.card {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #27e900;
    background-image: linear-gradient(90deg, #27e900 0%, #fbffff 100%);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2vh;

        .check-svg {
            width: 20px;
        }
    }
}



h3 {
    margin: 0;
    font-size: 15px;
}

p {
    margin: 5px 0 0;
    color: #333;
}

button {
    padding: 5px 10px;
    width: 15vw;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 2vw;
    display: flex;
    justify-content: space-around;

    .check-svg {
        width: 10px;
    }
}

button.delete {
    background-color: #f84747;

}

button.delete:hover {
    background-color: #a72828;
}